@import "@fontsource/montserrat/400.css";
@import "@fontsource/montserrat/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  background-image: url("../assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, var(--tw-gradient-stops));
  --tw-gradient-from: #d9d9d9;
  --tw-gradient-stops: var(--tw-gradient-from), #d9d9d9, #d9d9d961;
  opacity: 0.75;
}

.hero-content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: white;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
